.feild
{
    width: 93%;
    padding-left: 20px;
}

.card
{
    width: 60%;
    margin: auto;
    background: white;
    padding: 2px;

}



.card h1{
    text-align: center;
}

.text-center
{
    text-align: center;
}

.card button{
 margin:5px ;
}